.clients-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* 6 colonnes */
  gap: 0px;
}

.clients-grid .header {
  font-weight: bold;
  text-align: center;
  border-top: 2px solid #000; /* Bordure supérieure */
  border-bottom: 2px solid #000; /* Bordure inférieure */
  border-left: 2px solid #000; /* Bordure gauche */
}

.clients-grid > .header:nth-child(6) {
  border-right: 2px solid #000; /* Bordure droite pour la dernière cellule */
  color: red
}

.clients-grid div {
  padding: 5px;
  border: 1px solid #ccc;
}

// Modale
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal-content p {
  margin-bottom: 10px;
}

.modal-content button {
  padding: 5px 10px;
  border: none;
  background: #4caf50;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content button:hover {
  background: #45a049;
}
